{% for publicite in publicites %}
<div class="actualite">
  <a href="#">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  </a>
  <blockquote class="blockquote blockquote-reverse">
    <footer>Treichville, Médiathèque <cite title="Cellule Nationale de Communication">05 Dec 2016</cite></footer>
  </blockquote>
</div>
{% endfor %}
